*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(212, 45%, 89%);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid{
    width: 3in;
    height:5in;
    background: white;
    margin-left: 6in;
    margin-top: 1in;
    border: none;
    border-radius: 15px;
}

.grid img{
    width: 2.7in;
    max-width: 100%;
    margin-left: 0.15in;
    margin-top: 0.15in;
    border-radius: 15px;
}

.grid h2{
    font-size: 20px;
    text-align: center;
    margin-top: 0.5cm;;
    font-family: calibri;
    color: hsl(218, 44%, 22%);
    font-weight: 900;
}

.grid h3{
    font-size: 15px;
    text-align: center;
    margin-top: 0.5cm;
    font-family: arial;
    color: hsl(220, 15%, 55%);
    font-weight: 500;
}